 <!-- What's Cool -->		
				<div class="wrapper">
				<div class="section-title">
                	 <div class="section-inner">
                	<h1>Project Guidelines</h1>
              		<div class="seperator size-small"><span></span></div>
              		<h4 class="subtitle">Here are a few categories that we highly encourage, this is a guideline, but it's not limited to the following:</h4>
              		<p>&nbsp;</p>
              	</div>
					
                    <span></span></div>
					
					<div class="spacer spacer-small"></div>
					
					</div>                                                       
				</div> <!-- END .wrapper --> 
				
				<div id="portfolio-grid4" class="masonry portfolio-entries clearfix" data-maxitemwidth="370">
				
					<div class="portfolio-masonry-entry masonry-item branding">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                <%= image_tag("startup.jpg",  :size => "64x64", :alt => "Startups Launcherr") %>
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h6>Startups / Cømpanies </h6><br><i class="fa fa-thumbs-up fa-2x"></i>
										
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .portfolio-masonry-entry -->
				
					<div class="portfolio-masonry-entry masonry-item web">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                            	<%= image_tag("community.jpg",  :size => "64x64", :alt => "Show Group") %>
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><h6> cømmunity / adventures </h6><br><i class="fa fa-thumbs-up fa-2x"></i>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .portfolio-masonry-entry -->
					
					<div class="portfolio-masonry-entry masonry-item motion">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                <%= image_tag("personal.jpg",  :size => "64x64", :alt => "Personal Projects Launcherr") %>
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><h6>Innøvation & Persønal Prøjects</h6><br><i class="fa fa-thumbs-up fa-2x"></i>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .portfolio-masonry-entry -->
					
					<div class="portfolio-masonry-entry masonry-item web">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                 <%= image_tag("causes.jpg",  :size => "64x64", :alt => "Launcherr Charity Water") %>
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><h6>nøn profit / causes</h6><br><i class="fa fa-thumbs-up fa-2x"></i>
									
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .portfolio-masonry-entry -->
					
					<div class="portfolio-masonry-entry masonry-item branding">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                 <%= image_tag("gadgets.jpg",  :size => "64x64", :alt => "Launch gadgets and inventions") %>
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><h6>inventiøns / gadgets</h6><br><i class="fa fa-thumbs-up fa-2x"></i>
										
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .portfolio-masonry-entry -->
				
					<div class="portfolio-masonry-entry masonry-item web">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                 <%= image_tag("dance.jpg",  :size => "64x64", :alt => "Dance Projects ") %>
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><h6>dance / theatre</h6><br><i class="fa fa-thumbs-up fa-2x"></i></h5>
										
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .portfolio-masonry-entry -->
					
					<div class="portfolio-masonry-entry masonry-item motion">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                 <%= image_tag("art.jpg",  :size => "64x64", :alt => "Art Projects Launcherr") %>
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><h6>Art / Design</h6><br><i class="fa fa-thumbs-up fa-2x"></i>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .portfolio-masonry-entry -->
					
					<div class="portfolio-masonry-entry masonry-item web">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                <%= image_tag("film.jpg",  :size => "64x64", :alt => "Film Projects Launcherr") %>
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><h6>Film / Videø</h6><br><i class="fa fa-thumbs-up fa-2x"></i></h5>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .portfolio-masonry-entry -->
				
				</div> <!-- END #portfolio-grid1 -->
				<!-- Masonry Layout -->
		
				
				<!-- Without Title -->	<br>	
				<div class="section-title">
                	 <div class="section-inner">
                	<h2>What is not cool</h2>
              		<div class="seperator size-small"><span></span></div>
              		<h4 class="subtitle">We don't mean to put a damper on your creativity, but for the sake of others, our brand and your reputation.<br> These are the things we can't accept.  </h4>
              		<p>If you're unsure where your project stands, send us a quick pitch at staff@launcherr.com</p>
              	</div>
					
					<div class="spacer spacer-small"></div>
					
					                                                       
				</div> </div><!-- END .wrapper --> 
				
				<div id="portfolio-grid3" class="masonry portfolio-entries clearfix" data-maxitemwidth="370">
				
					<div class="portfolio-masonry-entry masonry-item branding">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                <%= image_tag("drugs.jpg",  :size => "64x64", :alt => "") %>
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><h6>Anything Drug Related</h6><br><i class="fa fa-thumbs-down fa-2x"></i>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .portfolio-masonry-entry -->
				
					<div class="portfolio-masonry-entry masonry-item web">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                 <%= image_tag("political.jpg",  :size => "64x64", :alt => "") %>
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><h6>Pølitical Campaigns</h6><br><i class="fa fa-thumbs-down fa-2x"></i>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .portfolio-masonry-entry -->
					
					<div class="portfolio-masonry-entry masonry-item motion">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                 <%= image_tag("illegal.jpg",  :size => "64x64", :alt => "") %>
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><h6>Anything Illegal</h6><br><i class="fa fa-thumbs-down fa-2x"></i>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .portfolio-masonry-entry -->
					
					<div class="portfolio-masonry-entry masonry-item web">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                <%= image_tag("protest.jpg",  :size => "64x64", :alt => "") %>
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><h6>Prøtests or Mobs</h6><br><i class="fa fa-thumbs-down fa-2x"></i>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .portfolio-masonry-entry -->
					
					<div class="portfolio-masonry-entry masonry-item branding">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                <%= image_tag("inappropriate.jpg",  :size => "64x64", :alt => "") %>
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><h6>Sexual ør Pørnøgraphy</h6><br><i class="fa fa-thumbs-down fa-2x"></i>
									
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .portfolio-masonry-entry -->
				
					<div class="portfolio-masonry-entry masonry-item web">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                               <%= image_tag("offensive.jpg",  :size => "64x64", :alt => "") %>
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><h6>øffensive Prøjects</h6><br><i class="fa fa-thumbs-down fa-2x"></i>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .portfolio-masonry-entry -->
					
					<div class="portfolio-masonry-entry masonry-item motion">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                <%= image_tag("war.jpg",  :size => "64x64", :alt => "") %>
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><h6>War ør Dangerøus prøjects</h6><br><i class="fa fa-thumbs-down fa-2x"></i>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .portfolio-masonry-entry -->
					
					<div class="portfolio-masonry-entry masonry-item web">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                <%= image_tag("value.jpg",  :size => "64x64", :alt => "") %>
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><h6>Prøjects that døn't fit øur value prøpøsition</h6><br><i class="fa fa-thumbs-down fa-2x"></i>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .portfolio-masonry-entry -->
				
				</div> <!-- END #portfolio-grid1 -->
				<!-- Without Title -->
				
				
				<div class="spacer spacer-big"></div>
				
				
				
				
				
				<div class="spacer spacer-big"></div>
				
				
				
				
				
				
			</div> <!-- END .section-inner -->   
		</div>
	</div>		
     	</section>